:root {
    --bg-color: #d4d4d4;
    --primary-color: #7DA2A9;
    --secondary-color: #29383b;
    --tertiary-color: #f0f0f0;
    --font-color: #212121;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-bar {
    margin-top: 40px;
}

.nav-bar input,
.nav-bar span {
    display: none;
}

.nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.nav-list li {
    padding: 5px 0;
    transition: .2s all ease-in-out;
}

.nav-list .active {
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.nav-list a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
}

@media (min-width: 600px) {
    .nav-list .active {
        background-color: var(--secondary-color);
        border-radius: 9px;
    }
    .nav-list .active a {
        color: var(--tertiary-color);
    }
    .nav-list a {
        font-size: 28px;
    }
}

@media (min-width: 769px) {
    .container {
        display: grid;
        height: calc(100vh - 80px);
        grid-template-columns: 1fr 3fr 1fr;
    }
    .nav-bar input {
        opacity: 0;
        display: initial;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 8%;
        top: 7%;
        border-radius: 200px;
        cursor: pointer;
        z-index: 1;
    }
    .nav-bar span {
        position: absolute;
        display: initial;
        left: 9%;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: .3s all ease-in-out;
        font-size: 40px;
        text-align: center;
        transform: rotate(270deg);
        color: var(--primary-color);
        border: 2px solid var(--font-color);
    }
    .nav-list {
        margin-top: 120px;
        grid-template-columns: initial;
        gap: 35px;
        transition: .3s all ease-in-out;
    }
    .nav-list li,
    .nav-list a {
        width: 0;
        opacity: 0;
    }
    .nav-list a {
        width: 0px;
    }
    .nav-bar input:checked~.nav-list a,
    .nav-bar input:checked~.nav-list li {
        width: 100%;
        opacity: 1;
    }
    .nav-bar input:checked~span {
        transform: rotate(90deg);
        color: var(--font-color);
    }
    .nav-bar .nav-list li:hover {
        background-color: var(--primary-color);
        border-radius: 3px;
        cursor: pointer;
    }
    .nav-list .active {
        border: none;
    }
}

.header {
    margin-top: 30px;
    text-align: center;
    color: var(--font-color);
}

.header .image img {
    max-height: 130px;
    border-radius: 50%;
}

.header h1 {
    margin: 0;
    font-size: 40px;
}

.header h3 {
    font-size: 30px;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .header {
        margin-top: 60px;
    }
    .header .image img {
        max-height: 200px;
    }
    .header h1 {
        font-size: 60px;
    }
    .header h3 {
        font-size: 50px;
    }
}

@media (min-width: 769px) {
    .header {
        margin-top: 40px;
    }
    .header h3 {
        margin-bottom: 0;
    }
}

.media {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    opacity: 0.8;
    text-align: center;
}

.media p {
    color: var(--tertiary-color);
    margin-top: 0;
    font-size: 20px;
}

.media .media-links {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .media {
        position: absolute;
        width: 60%;
        bottom: 15%;
        left: 20%;
    }
    .media p {
        font-size: 28px;
    }
    .media .media-links {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }
}

.media .media-links i {
    font-size: 50px;
    color: var(--tertiary-color);
}

@media (min-width: 769px) {
    .media {
        position: initial;
        height: 50%;
        width: 40%;
        margin: auto 0 auto auto;
        padding: 20px 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .media p {
        display: none;
    }
    .media .media-links {
        flex-direction: column;
        margin: 0 auto;
    }
    .media .media-links a {
        margin-bottom: 10px;
    }
    .media .media-links i {
        transition: .3s all ease-in-out;
    }
    .media .media-links a:last-of-type,
    .media .media-links i:last-of-type {
        margin-bottom: 0;
    }
    .media .media-links a:hover i {
        color: var(--primary-color);
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    margin-top: 40px;
}

.info #info-field {
    cursor: pointer;
}

.info .info-field i {
    font-size: 20px;
}

.info .info-field p {
    font-size: 16px;
}

.info .info-field .mail-btn {
    display: none;
}

@media (min-width: 769px) {
    .info .info-field .mail-btn {
        display: initial;
        border: 2px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--font-color);
        border-radius: 9px;
        padding: 10px 15px;
        cursor: pointer;
    }
    .info .info-field .mail-btn:hover {
        background-color: var(--bg-color);
        border: 2px solid var(--font-color);
    }
}

.info a {
    text-decoration: none;
    color: var(--font-color);
}

@media (min-width: 600px) {
    .info .info-field i {
        font-size: 50px;
    }
    .info .info-field p {
        font-size: 30px;
    }
}

.header .presentation {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .presentation h1 {
    margin: auto 0;
}

.header .presentation img {
    max-height: 130px;
    border-radius: 50%;
}

.header p {
    font-size: 17px;
}

@media (min-width: 600px) {
    .header .presentation {
        margin: 0 150px;
        margin-bottom: 80px;
    }
    .header .presentation img {
        max-height: 230px;
        border-radius: 50%;
    }
    .header p {
        font-size: 26px;
    }
}

.projects img {
    height: 130px;
}

.projects .card {
    padding: 10px;
    text-align: center;
}

.projects .card:last-of-type {
    margin-bottom: 40px;
}

.btn {
    text-decoration: none;
    color: var(--font-color);
    max-width: 50%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 7px;
}

.projects .card .btn,
.btn-github2 {
    display: none;
}

@media (min-width: 600px) {
    .projects img {
        height: 250px;
    }
    .projects .card:last-of-type {
        margin-bottom: 60px;
    }
    .projects .btn {
        padding: 30px 40px;
        font-size: 25px;
    }
}

@media (min-width: 769px) {
    .projects .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 80px;
    }
    .projects img {
        height: 200px;
    }
    .projects .btn {
        padding: 20px 30px;
        font-size: 20px;
    }
    .projects .card .btn {
        display: initial;
    }
    .projects .card .btn:hover {
        background-color: transparent;
        border: 2px solid var(--font-color);
    }
    .projects .btn-github {
        display: none;
    }
    .btn-github2 {
        display: initial;
        max-height: 80px;
        max-width: 200px;
        text-align: center;
        border: 2px solid var(--primary-color);
        margin: auto 0 auto auto;
    }
    .btn-github2:hover {
        background-color: transparent;
        border: 2px solid var(--font-color);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--secondary-color);
    text-align: center;
    padding-left: 40px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.footer p {
    font-size: 16px;
    color: var(--tertiary-color);
}

.footer .theme {
    margin: auto 0;
}

.footer .theme .theme-toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer .theme .theme-toggle i {
    font-size: 30px;
    color: var(--tertiary-color);
}

@media (min-width: 600px) {
    .footer p {
        font-size: 26px;
    }
    .footer .theme .theme-toggle i {
        font-size: 50px;
    }
}

[data-theme="dark"] {
    --bg-color: #282333;
    --font-color: #fbf9ef;
}